.items {
  grid-column: 1;

  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  gap: 20px;
}

.items_header {
  display: flex;
  justify-content: space-between;
}

.items_action {
  display: flex;
  align-items: center;

  padding: 5px 10px;
  margin: 15px;

  background-color: white;
  color: black;

  border-radius: 5px;
  border: 1px solid #ccc;

  font-family: 'geist';
  font-weight: 600;

  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.items_action:hover {
  background-color: rgb(241, 241, 241);
}

.title {
  margin: 10px;

  font-weight: 500;

  display: flex;
  align-items: center;
  gap: 10px;
}

/* TABLE */

.table {
  width: 100%;
  border-collapse: collapse;
}

/*
 * Hace que thead y tbody no interfieran
 * con el grid de los tr.
 */
.table thead,
.table tbody {
  display: contents;
}

.table_tr {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.4fr;

  width: 100%;

  border-top: 1px solid #ccc;
}

/* HEADER */

.table_th {
  background-color: #eef4ff;
  color: #757575;

  font-size: 0.9em;
  font-weight: 500;
  font-family: 'geist';

  text-align: start;

  padding: 20px 0 20px 10px;

  box-sizing: border-box;
  min-width: 0;
}

/* BODY */

.table_td {
  padding: 10px 0 10px 10px;

  font-size: 0.8em;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  min-width: 0;
}

.table_td_number {
  display: flex;
  align-items: center;

  padding: 20px 0 20px 10px;

  font-size: 0.8em;

  box-sizing: border-box;
  min-width: 0;
}

.table_td_number p {
  margin: 0;
}

.table_td_number div {
  width: 100%;

  display: flex;
  align-items: center;
}

/* BUTTONS */

.table_td_button {
  justify-content: center;
  gap: 5px;
}

.edit_button {
  background-color: transparent;

  border: 0;
  border-radius: 5px;

  cursor: pointer;

  transition: all 0.4s ease;
}

.edit_button:hover {
  background-color: #868686;
}

.edit_button:hover svg {
  color: white;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .table_container {
    border: 2px solid #ccc;
  }
}