.layout_main {
  display: grid;
  grid-template-columns: 0.02fr  0.2fr 0.8fr 0.02fr;
  background-color: #F8F9FF;
}

@media (max-width: 768px) {
  .layout_main{
   display: flex;
   flex-direction: column;
  }
}
