.container h2{
  margin-left: 25px;
}

.guide_form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin: 25px;
}

.guide_form__field {
  display: flex;
  flex-direction: column;
}

.guide_form__label {
  margin-bottom: 5px;
}

.guide_form__input {
  outline: none;
  border-radius: 3px;
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
  font-family: "Geist";
}