.container {
  display: flex;
  flex-direction: column;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.div_button {
  display: flex;
  align-items: center;  
  gap: 25px;   
}

.button {
  color: #fff;
  background-color: #2a2a2b;
  border: 1px solid white;
  border-radius: 6px;
  padding: 12px 24px;
  margin: 15px 0px 15px 0px;
  font-family: "JetBrainsMono";
  font-size: 0.95em;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: #868686;
}

@media (max-width: 768px) {
  .container {
    width: 80vw;
   display: flex;
   flex-direction: column;
  }

  .div_button {
    display: flex;
    flex-direction: column;
  }
}