.navbar {
  grid-column: 2;
  background-color: #EEF4FF;
  display: flex;
  justify-content: center;
  border: 2px solid rgb(233, 232, 232);
}

.list {
  list-style: none;
  width: 80%;
  padding: 0px;
}

.list_item {
  padding: 5px 0px;
}

.navbar_link, .navbar_link_active {
text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  color: black;
  border-radius: 5px;
  gap: 10px;
}
.navbar_link_active {
  background-color: #DBE9FF;
  transition: all 0.3s ease-in-out;
}
